 #map {
   position: absolute;
   top:0;
   bottom:0;
   right:0;
   left:0;
}

#obsgraph {
    height: 100%;
}

#obsgraph li {
  color: black;
  padding: 2% 2% 2% 2%;
}
#obsgraph .modal-dialog {
  width: 75%;
  height: 75%;
  padding: 0;
}
